body {
    background-image: url(images/witcher.jpeg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: top;
}

.navbar {
    padding: 15px;
}
.navbar a {
    float: right;
    color: white;
    text-decoration: none;
}

.column p {
    font-size: 14px;
}

.column {
    color: white;
    width: 400px;
    padding-top: 150px;
}
